<div class="content">
  <h3 class="title">{{ post.title }}</h3>

  <p class="excerpt">{{ post.lead_text }}</p>

  {% if post.project_link != empty %}
  <a href="{{ post.project_link }}" class="project-link"><button class="btn btn-default btn-lg"><i class="fa fa-{{post.button_icon}} fa-lg"></i>{{post.button_text}}</button></a>
  {% endif %}

  {% if post.tags != empty %}
  <div class="tags">
    {% for tag in post.tags %}
    <span>{{ tag }}</span>
    {% endfor %}
  </div>
  {% endif %}

  <!-- {% if post.team_size != empty %}
  <p class="excerpt"> {{<b> Team Size: post.team_size </b>}}</p>

  {% endif %} -->


  <ul>
    <!-- {% if snippet in post.contribution}
    <p>
      Personal Contribution:
    </p> -->
    <!-- {% endif %} -->
    {% for snippet in post.contribution %}
      <li>
        <p>
        {{ snippet }}
        </p>
      </li>
    {% endfor %}
    </ul>

  <!-- {% if post.categories != empty %}
  <div class="categories">
    {% for category in post.categories %}
      <span>{{ category }}</span>
    {% endfor %}
  </div>
  {% endif %} -->
</div>
