<div class="content">
  <h3 class="title">{{ post.title }}</h3>

  {% if post.roles != empty %}
  <p><b>Roles:</b></p>
  <div class="tags">
    {% for tag in post.roles %}
    <span>{{ tag }}</span>
    {% endfor %}
  </div>
  {% endif %}

  <p>Team size: <p>post.team_size</p> </p>

  <p class="excerpt">{{ post.lead_text }}</p>

  {% if post.project_link != empty %}
  <a href="{{ post.project_link }}" class="project-link"><button class="btn btn-default btn-lg"><i class="fa fa-{{post.button_icon}} fa-lg"></i>{{post.button_text}}</button></a>
  {% endif %}

  {% if post.tags != empty %}
  <div class="tags">
    {% for tag in post.tags %}
    <span>{{ tag }}</span>
    {% endfor %}
  </div>
  {% endif %}


  <p><b>Contributions:</b></p>
  <ul>
    {% for snippet in post.contribution %}
      <li>
        <p>
        {{ snippet }}
        </p>
      </li>
    {% endfor %}
    </ul>

  <!-- {% if post.categories != empty %}
  <div class="categories">
    {% for category in post.categories %}
      <span>{{ category }}</span>
    {% endfor %}
  </div>
  {% endif %} -->
</div>
